services:
  app:
    image: simple2b/kraftjar-website:latest
    restart: always
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.kraftjar-website.rule=Host(`stage.website.kraftjar.net`)'
      - 'traefik.http.routers.kraftjar-website.tls=true'
      - 'traefik.http.routers.kraftjar-website.tls.certresolver=myresolver'
