services:
  app:
    image: simple2b/kraftjar-website:latest
    env_file:
      - .env
    restart: always
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.kraftjar-website.rule=Host(`www.kraftjar.net`, `kraftjar.net`)'
      - 'traefik.http.routers.kraftjar-website.tls=true'
      - 'traefik.http.routers.kraftjar-website.tls.certresolver=myresolver'
