@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #333333;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  color: var(--color-primary);
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-primary);
}
