name: Stage build and deploy

on:
  push:
    branches:
      - develop
# on:
#   push:
#     tags:
#       - "v*"

env:
  DOCKER_LOGIN: simple2b
  DOCKER_ACCESS_TOKEN: ${{ secrets.DOCKER_ACCESS_TOKEN }}
  IMAGE_NAME: simple2b/kraftjar-website

jobs:
  test:
    runs-on: kr-replica
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: install yarn
        run: npm install yarn
      - name: install packages
        run: yarn
      - name: generate api client
        run: yarn gen-api
      - name: check types
        run: yarn type-check
      - name: check lint
        run: yarn lint
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.IMAGE_NAME }}
          tags: |
            latest
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_LOGIN }}
          password: ${{ env.DOCKER_ACCESS_TOKEN }}
      - name: Build and Push backend image
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  deploy:
    runs-on: kr-replica
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: update compose file
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.STAGE_HOST }}
          username: ${{ secrets.STAGE_USERNAME }}
          key: "${{ secrets.STAGE_SSH_KEY }}"
          port: ${{ secrets.STAGE_PORT }}
          source: docker-compose.stage.yaml
          target: ~/kraftjar_web/kraftjar-website
      - name: Deploy to stage
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.STAGE_HOST }}
          username: ${{ secrets.STAGE_USERNAME }}
          key: ${{ secrets.STAGE_SSH_KEY }}
          port: ${{ secrets.STAGE_PORT }}
          script: |
            cd ~/kraftjar_web/kraftjar-website &&
            mv docker-compose.stage.yaml docker-compose.yml &&
            dcpull &&
            dcupd
